DATABASE_URL="postgresql://user:password@localhost:5432/moniteur1d_db?schema=public"
PORT=3001
FRONTEND_URL="http://localhost:5173"
JWT_SECRET="your_jwt_secret"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
STRIPE_SECRET_KEY="your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret"
RESEND_API_KEY="your_resend_api_key"
CRON_TOKEN="your_cron_token"

